{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Contacts{% endblock %}
{% block content %}

<!-- Cover image -->
<div class="cover_img">
    <div class="img_bg"
        style="background-image: url({% static 'site_static/img/plato-comida-cubana-ropa-vieja.jpeg' %})">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8 cover-text">
                </div>
            </div>
        </div>
    </div>
</div>


<h1>Contacts</h1>

Name: {{ contacts.name }}
Email: {{ contacts.email }}
Phone number: {{ contacts.phone_number }}
Address: {{ contacts.address }}


<h2>Opening Hours: </h2>

{% for h in open_hours %}
<p>{{ h.days }}</p>
<p>{{ h.hours }}</p>
{% endfor %}


{% endblock %}