html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #d5aeaef5;
}

/* Nav-bar */

.navbar {
  padding: 1px;
}

.red-c {
  color: red;
}

.blue-b {
  color: #65cdda;
}

button.navbar-toggler {
  color: #65cdda;
}

span.navbar-toggler-icon {
  font-size: 15px;
  color: #65cdda;
}

a.nav-link {
  font-size: 15px;
  line-height: 1;
  color: white;
}

.sticky-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}

/* Footer */

footer {
    width: 100%;
    bottom: 0px;
    position: inherit;
  }
  
  .footer a {
    font-size: 18px;
    padding-bottom: 5px;
  }
  
  .footer i:hover {
    color: #ec9494f5;
  }
  
  .footer p {
    font-size: 11px;
    line-height: 0.5;
  }
  
  .copy-right {
    padding-bottom: 5px;
  }

/* Cover image */

.cover_img {
    position: relative;
  }
  
  .img_bg {
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.9;
  }

  .cover-text {
    text-align: end;
    margin-top: 5rem;
    background: rgba(215, 177, 177, 0.4);
  }
  
  .heading {
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
  }
  
  .sub-heading {
    color: white;
    font-weight: 300;
    font-size: 15px;
    line-height: 1;
  }
  
  .cover_img .img_bg>.container>.row {
    min-height: 180px;
    height: 25vh;
  }

/* Home About*/

.home-about {
    background: #d5aeaef5;
  }
  
  .home-contacts {
    background: #d5aeaef5;
  }
  
  .home-about h2 {
    font-size: 20px;
  }
  
  .home-about p {
    font-size: 12px;
    padding: 10px 20px
  }
  
  hr {
    margin: 0;
    color: inherit;
    order: 0;
    opacity: 0.15;
  }

  /* Home Menu*/


  /* Home Contacts */

.home-contacts h2 {
    font-size: 18px;
  }
  
  .home-contacts p {
    font-size: 12px;
    color: black;
    font-weight: 400;
  }
  
  .home-contacts strong {
    color: black;
  }

  /* About Us */

.about h2 {
    font-size: 20px;
    padding-bottom: 5px;
  }
  
  .about p {
    font-size: 12px;
    padding: 10px 20px
  }
  
  .about-things h3 {
    font-size: 20px;
  }
  
  .about-things h5 {
    font-size: 15px;
  }
  
  .about-things p {
    font-size: 12px;
    padding: 0 20px
  }

  /* Contacts page */

.contacts h2 {
    font-size: 18px;
  }
  
  .contacts p {
    font-size: 12px;
    color: black;
  }
  
  .contacts strong {
    color: black;
  }

/* My Bookings */

.bookings h1 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
  }
  
  thead {
    border-bottom: 1px solid lightgray;
    line-height: 1.2;
  }
  
  table {
    background: floralwhite;
  }
  
  table th {
    font-size: 12px;
    font-weight: 600;
  }
  
  table td {
    font-weight: 300;
    font-size: 10px;
  }
  
  table a {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #008000e8;
  }
  
  .a-delete {
    color: #c42222d1;
  }


